
*.str
*.jou
*.log
Vivado_project_v1/.Xil/
Vivado_project_v1/Vivado_project_v1.cache/
Vivado_project_v1/Vivado_project_v1.runs/
Vivado_project_v2/.Xil/
Vivado_project_v2/Vivado_project_v2.cache/
Vivado_project_v2/Vivado_project_v2.runs/
*.aux
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
Vivado_project_v1/Vivado_project_v1.xpr
Vivado_project_v1/Vivado_project_v1.hw/Vivado_project_v1.lpr
