
*.str
Vivado_project/vivado_20240.jou
Vivado_project/vivado_20240.log
Vivado_project/vivado.jou
Vivado_project/vivado.log
Vivado_project/.Xil/
Vivado_project/Vivado_project.cache/
Vivado_project/Vivado_project.runs/